@import 'variables.scss';

//右键菜单
.context-menu {
    position: fixed;
    display: none;
    margin: 0px;
    padding: 1px 0px 3px 0px;
    background-color: white;
    border: 1px solid #BBB;
    border-radius: 4px;
    border-top-left-radius: 0px;
    min-width: 150px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
    z-index: 3;

    &.context-menu-show {
        display: inline-block;
    }

    > li {
        position: relative;
        cursor: pointer;
        display: block;
        padding: 0px 3px 0px 10px;
        box-sizing: border-box;
        width: 100%;
        color: #666;
        font-size: 12px;
        line-height: 22px;
        white-space: nowrap;

        &.hidden {
            display: none;
        }

        > span {
            display: inline-block;
        }

        > key {
            float: right;
            color: #CCC;
            font-size: 12px;
            transform: scale(.9);
            margin-left: 10px;
        }

        &:hover {
            background-color: #EEE;

            > key {
                color: $--color-main;
            }
        }
    }
}
