@import 'variables.scss';

.tool-menu {
    box-sizing: border-box;
    display: block;
    margin: 0px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDD;
    padding: 5px 5px 5px 30px;

    > li {
        position: relative;
        cursor: pointer;
        display: inline-block;
        padding: 5px 5px 2px 5px;
        font-size: 12px;
        color: #888;
        border-radius: 3px;

        > i {
            font-size: 14px;
            border-bottom: 3px solid transparent;
        }

        &:hover {
            background-color: #DDD;
            color: #1976D2;

            > .tool-menu-tooltip {
                opacity: 1.0;
                transform: translate(-50%, 5px);
                visibility: visible;
            }
        }

        > key {
            display: none;
        }

        &.tool-menu-split {
            cursor: default;
            background-color: transparent !important;
            user-select: none;
            border-right: 1px solid #DDD;
            padding-left: 1px;
            margin-right: 5px;
            height: 10px;
            vertical-align: middle;
        }

        > .tool-menu-tooltip {
            position: absolute;
            opacity: 0.0;
            top: 100%;
            left: 50%;
            width: auto;
            transform: translate(-50%, 10px);
            white-space: nowrap;
            z-index: 9;
            background-color: #333;
            color: white;
            font-size: 12px;
            padding: 3px 8px;
            border-radius: 4px;
            transition: 0.2s;
            visibility: hidden;
        }
    }
}
